body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-NavColor {
  background-color: navy;
}

.content {
  margin-top: 10px;
  padding: 12px;
}

Nav {
  padding: 0px 10px 0px 10px;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 gray;
}
